.card-area {
  display: inline-flex;
  position: relative;
  width: 240px;
  height: 400px;
}
.highlight-area {
  position: absolute;
  width: 70px;

  height: 350px;
  z-index: 100;
}
.highlight-area.left {
  left: 0px;
  float: left;
}
.highlight-area.right {
  right: -40px;
  float: right;
}

.highlight-area.hovered {
  background-image: radial-gradient(lightblue 30%, transparent 70%);
}

.card-area .card-holder {
  position: relative;
  width: 200px;
  height: 350px;
  left: 30px;
  right: 30px;
  z-index: 150;
}
