.playingCard {
  width: 18rem;
  height: 24rem;
  background-color: lightgrey;
  margin: 1rem;
  border-radius: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
}
.playingCard.selected {
  border-color: red;
}
