.playingCard {
  width: 16rem;
  height: 22rem;
  background-color: lightgrey;
  margin: 0rem;
  border-radius: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  transition: transform 0.2s ease-in;
}
.playingCard.selected {
  border-color: red;
}

.playingCard img {
  filter: invert() grayscale();
}
