.playingCard {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  margin: 0rem;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  transition: transform 0.2s ease-in;
}
.playingCard.selected {
  border-color: red;
}
.playingCard.hovered.directionLeft {
  transform: translateX(30px);
}
.playingCard.hovered.directionRight {
  transform: translateX(-30px);
}
.playingCard.dragged {
  opacity: 0.5;
}
.playingCard img {
  filter: invert() grayscale();
}
